<form action='http://localhost:8000/voteout' method='post'>
    <input type="email" name="email" value="" placeholder="Enter email"></input><br>
    <button type="submit" name = "action" value="voteout">Remove User</button>
</form>